.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    font-size: 28px;
    text-transform: uppercase;
    background: $txt_color;
    color: $bg_color_main;
    font-family: "Pobeda", sans-serif;

    @media screen and (max-width: 768px) {
      font-size: 18px;
    }

    p {
        display: inline-block;
        animation: marquee 6s linear infinite;
        animation-play-state: running;
    }
}

@keyframes marquee {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}