.related-posts {
    display: flex;
    gap: 16px;
    background: $bg_color_main;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow-x: auto;

    &__post {
        padding: 16px;
        border: 1px solid $bg_color_main;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: $bg_color_secondary;
        color: $txt_secondary;
        transition: box-shadow 0.3s, background-color 0.3s;
        min-width: 50%;

        &:hover {
            background-color: lighten($bg_color_secondary, 5%);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        }
    }

    &__title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 12px;
        color: $header_hover_color;
    }
}