@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@font-face {
  font-family: "Racama";
  src: url("../fonts/Racama.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pobeda";
  src: url("../fonts/pobeda-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pobeda";
  src: url("../fonts/pobeda-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}
.header {
  padding: 10px 0;
  border-bottom: 2px solid black;
  font-family: "Pobeda", sans-serif;
  position: relative;
  height: 60px;
}
.header__logo {
  font-size: 28px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 1024px) {
  .header__logo {
    font-size: 24px;
  }
}
.header__toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .header__toggle {
    display: flex;
    width: 40px;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
  }
  .header__toggle.active .header__toggle-span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 8px);
  }
  .header__toggle.active .header__toggle-span:nth-child(2) {
    opacity: 0;
  }
  .header__toggle.active .header__toggle-span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -8px);
  }
  .header__toggle-span {
    width: 100%;
    height: 2px;
    background: black;
    transition: all 0.4s ease;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 64px;
  align-items: center;
  margin: 0;
  list-style: none;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  .header-list {
    gap: 32px;
  }
}
@media screen and (max-width: 768px) {
  .header-list {
    display: none;
  }
  .header-list.active {
    display: flex;
    padding: 20px 0;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
.header-list__item {
  position: relative;
}
@media screen and (max-width: 768px) {
  .header-list__item.active .header-list__svg.header-list__svg--plus {
    display: none;
  }
  .header-list__item.active .header-list__svg.header-list__svg--minus {
    display: inline-block;
  }
  .header-list__item .header-list__svg.header-list__svg--minus {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .header-list__item .header-list__svg.header-list__svg--minus {
    display: none;
  }
}
.header-list__wrapper-link {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .header-list__wrapper-link:hover > .header-list__link {
    color: #0247ad;
  }
  .header-list__wrapper-link:hover .header-list__svg {
    color: #0247ad;
  }
  .header-list__wrapper-link:hover ~ .dropdown {
    max-height: 400px;
    transform: scale(1);
  }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
  .header-list__wrapper-link:hover ~ .dropdown {
    padding: 10px;
  }
}
.header-list__link {
  font-size: 22px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-list__link:hover {
  color: #0247ad;
}
@media screen and (max-width: 1024px) {
  .header-list__link {
    font-size: 20px;
    justify-content: center;
  }
}

.dropdown {
  display: flex;
  max-height: 0px;
  overflow: hidden;
  transform-origin: top;
  transform: scale(0);
  transition: all 0.4s ease;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 10px;
  margin: 0;
  z-index: 2;
  width: max-content;
}
@media screen and (min-width: 768px) {
  .dropdown:hover {
    max-height: 400px;
    transform: scale(1);
  }
}
@media screen and (max-width: 768px) {
  .dropdown {
    box-shadow: none;
    position: relative;
    padding: 0px;
  }
  .dropdown.active {
    max-height: 400px;
    transform: scale(1);
    padding: 10px;
  }
}
.dropdown__item:hover > .header-list__link {
  color: #0247ad;
}

.main-top {
  padding: 32px 0 64px;
}
.main-top__container.container {
  max-width: 1200px;
}
.main-top__input {
  padding: 5px 10px;
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  max-width: 180px;
  margin: 0 0 32px 0;
}
.main-top__block {
  padding: 20px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .main-top__block {
    flex-direction: column;
  }
}
.main-top__banner {
  width: calc((100% - 16px) / 10 * 6);
  background-image: url("../images/monkey.png");
  background-size: cover;
  background-position: center;
  padding: 80px 32px 64px;
  border-radius: 4px;
  color: #ffffff;
  display: flex;
  min-height: 390px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .main-top__banner {
    width: 100%;
  }
}
.main-top__h2 {
  font-size: 42px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 16px 0;
}
.main-top__p {
  margin: 0 0 16px 0;
}
.main-top__button {
  border: none;
  outline: none;
  background-color: #ffffff;
  color: black;
  padding: 10px 5px;
  cursor: pointer;
}
.main-top__news {
  width: calc((100% - 16px) / 10 * 4);
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  max-height: 390px;
}
@media screen and (max-width: 768px) {
  .main-top__news {
    width: 100%;
  }
}
.main-top__news-img {
  width: calc((100% - 16px) / 2);
  max-height: 120px;
}
.main-top__news-card {
  display: flex;
  gap: 16px;
}

.main-important__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .main-important__block {
    flex-direction: column;
  }
}
.main-important__aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .main-important__aside {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0 0 24px 0;
  }
}
.main-important__title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  font-family: "Pobeda", sans-serif;
}
@media screen and (max-width: 425px) {
  .main-important__title {
    font-size: 24px;
    font-weight: 500;
  }
}
.main-important__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
}
@media screen and (max-width: 425px) {
  .main-important__list {
    gap: 8px;
  }
}
.main-important__link {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}
@media screen and (max-width: 425px) {
  .main-important__link {
    font-size: 16px;
  }
}
.main-important__banner {
  padding: 20px;
  background: black;
  color: #ffffff;
  width: 60%;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .main-important__banner {
    font-size: 32px;
  }
}
@media screen and (max-width: 1024px) {
  .main-important__banner {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .main-important__banner {
    width: 90%;
  }
}
.main-important__span {
  display: inline-block;
  margin: 60px 0 0 0;
  text-align: right;
  font-family: "Racama", sans-serif;
  font-size: 36px;
}

.main-marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  font-size: 28px;
  text-transform: uppercase;
  background: black;
  color: #ffffff;
  font-family: "Pobeda", sans-serif;
}
@media screen and (max-width: 768px) {
  .main-marquee {
    font-size: 18px;
  }
}
.main-marquee p {
  display: inline-block;
  animation: marquee 6s linear infinite;
  animation-play-state: running;
}

@keyframes marquee {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
.main-news {
  padding: 64px 0;
}
.main-news__title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Pobeda", sans-serif;
}
.main-news__block {
  display: flex;
  gap: 16px;
  overflow-x: auto;
}
.main-news__block--margin {
  margin: 0 0 64px 0;
}
.main-news__article {
  width: calc((100% - 32px) / 3);
  min-width: 300px;
}
.main-news__img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.main-news__description {
  display: flex;
  gap: 8px;
  align-items: center;
}

.main {
  padding: 32px 0 64px;
  background: #f5f5f5;
  border-bottom: 2px solid black;
  font-family: "Racama", sans-serif;
}
@media screen and (max-width: 768px) {
  .main {
    padding: 32px 0;
  }
}

.footer {
  padding: 16px 0;
}
.footer__block {
  display: flex;
  justify-content: space-between;
}
.footer__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__social-media {
  width: 50%;
}
.footer__social-media-list {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .footer__social-media-list {
    flex-wrap: wrap;
  }
}
.footer__social-media-link {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

.news {
  padding: 32px 0 64px;
}
.news__container.container {
  max-width: 1480px;
}
.news__h1 {
  font-size: 42px;
  font-weight: 700;
}
.news__breadcrumbs {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 20px;
  margin: 0 0 32px 0;
}
.news__link {
  text-decoration: none;
  color: black;
  transition: color 0.4s ease;
  display: block;
  position: relative;
  cursor: pointer;
}
.news__link::before {
  position: absolute;
  bottom: -4px;
  content: "";
  left: 0;
  right: 100%;
  height: 2px;
  background: #0247ad;
  transition: all 0.4s ease;
}
.news__link:hover {
  color: #0247ad;
}
.news__link:hover::before {
  position: absolute;
  bottom: -4px;
  content: "";
  left: 0;
  right: 0;
  height: 2px;
  background: #0247ad;
}
.news__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 0 64px 0;
}
@media screen and (max-width: 1200px) {
  .news__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .news__list {
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
}
.news__item {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 16px 32px;
}
@media screen and (max-width: 1200px) {
  .news__item {
    flex-direction: column;
    gap: 32px;
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .news__item {
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 425px;
  }
}
.news__img {
  width: 27%;
  min-height: 220px;
}
@media screen and (max-width: 1200px) {
  .news__img {
    width: 100%;
  }
}
.news__description {
  width: 70%;
}
@media screen and (max-width: 1200px) {
  .news__description {
    width: 100%;
  }
}
.news__title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 16px 0;
}
.news__p {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 16px 0;
}
.news__date {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  color: #444;
}

body {
  margin: 0;
  font-family: "Racama sans-serif";
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 15px;
  }
}

/*# sourceMappingURL=style.css.map */
