@font-face {
    font-family: 'Racama';
    src: url('../fonts/Racama.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pobeda';
    src: url('../fonts/pobeda-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pobeda Bold';
    font-weight: normal;
	font-style: normal;
    src: url('../fonts/pobeda-bold.ttf') format('truetype');
}